@keyframes shine {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0 0 40px green;
  }

  100% {
    box-shadow: none;
  }
}
.container {
  border: 2px solid rgb(189, 88, 88);
  border-radius: 50%;
  cursor: pointer;

  padding: 30px;
  font-size: 22px;
  font-weight: 600;
  margin: 10px;
  width: 92px;
  height: 92px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-shine {
    animation: shine 1s;
  }
}